@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  padding: 0;
  margin: 0 auto;
}

.load-more {
  display: block;
  background-color: red;
  border-radius: 10px;
  padding: 15px 35px;
  margin: 0 auto;
  border: none;
  color: #fff;
}

.load-more:hover {
  background-color: yellow;
}

.is-hidden {
  display: none;
}

body {
  background-color: #eeeeee;
  color: #212121;
  margin: 0;
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.5;
}

.search-form {
  background-color: rgb(27, 71, 154);
  padding: 20px;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  align-items: stretch;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 23vw;
}

.img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}
